#login {
  height: 100vh;
  background-color: #344a5f;
  overflow: hidden;

  .login-wrap {
    position: absolute;
    width: 339px;
    left: 50%;
    top: 50%;
    transform: translate(-170px,-50%);

    .menu-tab {
      text-align: center;

      li {
        display: inline-block;
        width: 88px;
        line-height: 36px;
        font-size: 14px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;

        &.active {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .login-form {
      .item-form {
        margin-bottom: 18px;

        label {
          display: block;
          color: #fff;
          width: 100%;
          font-size: 14px;
          text-align: left;
        }
      }

      .block {
        display: block;
        width: 100%;
      }
    }
  }
}
